
<mat-toolbar color="accent">
  <mat-toolbar-row>
          <span class="title-center">
          My Destination App
  </span>
  </mat-toolbar-row>

  <mat-toolbar-row>

    <button mat-button [routerLink]="['/upcoming']" color="Warn">Upcoming Destinations</button>
    <button mat-button [routerLink]="['/addUpcoming']" color="Warn">Add Destination</button>
    <button mat-button [routerLink]="['/review']">Reviews</button>
    <button mat-button [routerLink]="['/addreview']">Add a Review</button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
