<body>
<mat-toolbar class="top">
  <mat-toolbar-row>
  <span class="title-center">
    <div class="main">My Destination App</div>
  </span>
  </mat-toolbar-row>

  <mat-toolbar-row >
    <div class="text">
    <button class="btn1" mat-button [routerLink]="['/upcoming']" >Upcoming Destinations</button>
    <button class="btn1" mat-button [routerLink]="['/addUpcoming']">Add Destination</button>
    <button class="btn1" mat-button [routerLink]="['/review']">Reviews</button>
    <button class="btn1" mat-button [routerLink]="['/addreview']">Add a Review</button>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

<router-outlet></router-outlet>
</body>
