mat-form-field,
textarea {
  width: 100%;
}

.middle
{
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  font-family: Forte;
  font-size: 30px;
}

.input
{
  background-color: rgba(29, 29, 106, 0.6);
  border-radius: 20px;
}

.btn
{
  background-color: burlywood;
  color: black;
}

.error
{
  color: darkorange;
}
