<mat-toolbar class="middle">Edit Upcoming Destination!</mat-toolbar>
<mat-card class="main">
  <h3>Enter destination(Country)</h3>
  <form (submit)="onEditPost(upcomingForm)" #upcomingForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="country"
        ngModel ={{upcoming.country}}
        required
        minlength="3"
        #title="ngModel">
      <mat-error class="error" *ngIf="title.invalid">Please enter the country.</mat-error>
    </mat-form-field>
    <h3>Enter destination(City)</h3>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="city"
        ngModel ={{upcoming.city}}
        required
        minlength="3"
        #title="ngModel">
      <mat-error class="error" *ngIf="title.invalid">Please enter the city.</mat-error>
    </mat-form-field>
    <h3>Enter proposed year of journey</h3>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="year"
        ngModel ={{upcoming.year}}
        required
        #title="ngModel">
      <mat-error class="error" *ngIf="title.invalid">Please enter the year of your journey</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      class="btn"
      type="submit">Update Post</button>
  </form>
</mat-card>
